version: "2.2"

services:
  pgo-p2pool:
    image: golang:1.22-alpine3.19
    restart: always
    environment:
      - GOPROXY=${GOPROXY}
    depends_on:
      - p2pool
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./pgo:/data:rw
    networks:
      - p2pool-observer
    command: >-
      go run git.gammaspectra.live/P2Pool/pgo-collector@27345e42a586ccf8b3a2608cc7e91d02a9615f93
      -profile-interval 1h
      -profile-duration 60s
      -profile-directory /data
      -profile-name p2pool.pgo
      -endpoint http://p2pool:6060
  pgo-daemon:
    image: golang:1.22-alpine3.19
    restart: always
    environment:
      - GOPROXY=${GOPROXY}
    depends_on:
      - daemon
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./pgo:/data:rw
    networks:
      - p2pool-observer
    command: >-
      go run git.gammaspectra.live/P2Pool/pgo-collector@27345e42a586ccf8b3a2608cc7e91d02a9615f93
      -profile-interval 1h
      -profile-duration 60s
      -profile-directory /data
      -profile-name daemon.pgo
      -endpoint http://daemon:6060
  pgo-web:
    image: golang:1.22-alpine3.19
    restart: always
    environment:
      - GOPROXY=${GOPROXY}
    depends_on:
      - web
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./pgo:/data:rw
    networks:
      - p2pool-observer
    command: >-
      go run git.gammaspectra.live/P2Pool/pgo-collector@27345e42a586ccf8b3a2608cc7e91d02a9615f93
      -profile-interval 1h
      -profile-duration 60s
      -profile-directory /data
      -profile-name web.pgo
      -endpoint http://web:6060
  pgo-api:
    image: golang:1.22-alpine3.19
    restart: always
    environment:
      - GOPROXY=${GOPROXY}
    depends_on:
      - api
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./pgo:/data:rw
    networks:
      - p2pool-observer
    command: >-
      go run git.gammaspectra.live/P2Pool/pgo-collector@27345e42a586ccf8b3a2608cc7e91d02a9615f93
      -profile-interval 1h
      -profile-duration 60s
      -profile-directory /data
      -profile-name api.pgo
      -endpoint http://api:6060